@font-face {
  font-family: 'Space Grotesk';
  font-weight: 400;
  src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff');
}
@font-face {
  font-family: 'Space Grotesk';
  font-weight: 500;
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff');
}
@font-face {
  font-family: 'Space Grotesk';
  font-weight: 600;
  src: url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff');
}
@font-face {
  font-family: 'Space Grotesk';
  font-weight: 700;
  src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff');
}

body {
  @apply font-main leading-[1.25] antialiased text-[#484848];
}
.without-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}
.without-scrollbar,
body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@layer components {
  .form-field {
    @apply w-full h-11 rounded-md border bg-white-100 border-border-100 focus:ring-2 focus:ring-primary-100 px-4 py-2 focus:outline-none font-medium text-heading-100 placeholder:text-[#484848] text-[15px];
  }
}
aside .router-link-active {
  @apply !bg-primary-100 !bg-opacity-10 !text-primary-100;
}
.button {
  @apply transition duration-300 ease-in-out inline-flex justify-center items-center text-white-100 capitalize text-base font-semibold focus:outline-none rounded-md py-2.5 px-4 h-11 hover:text-white-100 text-center cursor-pointer;
}
.primary-button {
  @apply bg-primary-100;
}
.primary-button:not(:disabled) {
  @apply hover:brightness-125;
}
.checkbox {
  @apply inline-flex relative;
}
.checkbox input {
  @apply absolute;
  left: -9999px;
}
.checkbox input:disabled + label {
  @apply cursor-not-allowed pointer-events-none opacity-60;
}
.checkbox label {
  @apply text-[15px] cursor-pointer leading-normal font-medium relative min-h-6;
  padding: 2px 0 0 34px;
}
.checkbox label:before,
.checkbox label:after {
  content: '';
  @apply absolute;
  transition: all 0.25s;
}
.checkbox label:before {
  border: 2px solid #b6b8c0;
  border-radius: 3px;
  @apply bg-white-100 left-0 w-6 h-6 top-0;
}
.checkbox input:checked + label {
  @apply text-primary-100;
}
.checkbox input:checked + label:before {
  @apply bg-primary-100 border-primary-100;
}
.checkbox input:checked + label:after,
.checkbox input:disabled + label:after {
  transform: rotate(-45deg) scale(1);
  @apply border-white-100;
}
.checkbox label:after {
  top: 8.5px;
  left: 8px;
  width: 8px;
  height: 5px;
  border-style: solid;
  @apply border-border-100;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg) scale(0);
}
